body.account-page {
  padding-bottom: 80px;
  background-color: rgb(255, 255, 255);
}

.p-loggedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main-content {
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);

  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 40px;
  max-width: 650px;
  margin-inline: auto;
  top: 40px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 1px solid rgba(14, 14, 14, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  height: auto;
  position: relative;
  transition:
    height 0.3s ease,
    background 0.3s ease;
  margin-bottom: 60px;
}
#title {
  text-align: center;
  margin-top: 10px;
  font-size: 33px;
  margin-bottom: 0px;
  font-weight: bold;
  color: rgb(50, 50, 50);
}
#alt-title {
  text-align: center;
  font-size: 13px;
  color: #818181;
}

input {
  color: black;
  background-color: rgb(248, 248, 248);
  height: 34px;
  border: 1px solid #f6304a9a;
  border-radius: 40px;
  padding: 5px;
}
.input-error {
  border: 1.5px solid red !important;
  outline: none;
  background-color: #fff5f5;
  margin-bottom: -7px;
}

.label {
  margin: 0px;
  margin-top: 20px;
  margin-left: 5px;
  font-weight: medium;
  color: #1c1c1c;
  font-family:
    "SanFrancisco",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
#name,
#address {
  display: flex;
  width: 100%;
  gap: 10px;
}

#firstname,
#lastname,
#city,
#postalcode {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#firstname input,
#lastname input,
#city input,
#postalcode input {
  width: 100%;
  box-sizing: border-box;
}

#signup-button {
  margin-top: 25px;
  width: 100%;
  height: 40px;
  background-color: #f63049;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#signup-button:hover {
  scale: 1;
}

.error-message {
  align-self: center;
  margin-bottom: -10px;
  margin-top: 5px;
  font-family:
    "SanFrancisco",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-weight: bold;
  color: red;
}
.success-message {
  align-self: center;
  margin-top: 5px;
  font-family:
    "SanFrancisco",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  color: green;
}

.input-error {
  border: 1.5px solid red !important;
  outline: none;
  background-color: #fff5f5;
}
.password-error,
.email-error {
  color: red;
  font-size: 0.75rem;
  margin-top: 5px;
  margin-bottom: -10px;
}
