body.account-page {
  padding-bottom: 80px;
  background-color: rgb(255, 255, 255);
}

.p-loggedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main-content {
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);

  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 40px;
  max-width: 650px;
  margin-inline: auto;
  top: 40px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  height: auto;
  position: relative;
  transition:
    height 0.3s ease,
    background 0.3s ease;
  margin-bottom: 60px;
}
#title {
  text-align: center;
  margin-top: 10px;
  font-size: 38px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #1d1d1f;
}
#alt-title {
  text-align: center;
  font-size: 13px;
  color: #818181;
}

.signup-input {
  color: black;
  background-color: rgb(248, 248, 248);
  height: 34px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 40px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.signup-input:focus {
  outline: none;
  border-color: rgba(246, 48, 73, 0.4);
  box-shadow: 0 4px 10px rgba(246, 48, 73, 0.4);
}
.input-error {
  background-color: rgb(248, 248, 248);
  height: 34px;
  border-radius: 40px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1.5px solid red !important;
  outline: none;
  background-color: #fff5f5;
  margin-bottom: -7px;
}

.label {
  margin: 0px;
  margin-top: 20px;
  margin-left: 8px;
  font-weight: medium;
  color: #373737;
}
#name,
#address {
  display: flex;
  width: 100%;
  gap: 10px;
}

#firstname,
#lastname,
#city,
#postalcode {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#firstname input,
#lastname input,
#city input,
#postalcode input {
  width: 100%;
  box-sizing: border-box;
}

#signup-button {
  margin-top: 25px;
  width: 100%;
  height: 40px;
  background-color: #f63049;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    scale 0.3s ease,
    transform 0.3s ease;
  font-weight: bold;
  letter-spacing: 1.1px;
}

#signup-button:hover {
  scale: 1.03;
  transform: translateY(-1px);
}

.account-page .error-message {
  align-self: center;
  margin-top: 25px;
  font-weight: bold;
  color: red;
}
.account-page .success-message {
  align-self: center;
  margin: 25px 0 0;
  color: green;
}

.password-error,
.email-error {
  color: red;
  font-size: 0.75rem;
  margin-left: 10px;
  max-width: 90%;
}
