header{
    padding: 1%;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 60px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
}
    
a:link{
    text-decoration:none;
}    